3
4
5
6
7
.user-icon {
    padding-left:30px;
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: 4px;
    background-image:     url({{ url_for('static', filename='img/用户.png') }});
}

.mail-icon {
    padding-left:30px;
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: 4px;
    background-image:     url({{ url_for('static', filename='img/邮件.png') }});
}