{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}首页{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello,{% if current_user.is_authenticated %}{{ current_user.username|capitalize }}{% else %}Stanger{% endif %}！</h1>
    <p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
    <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
    {% if not known %}
    <p>欢迎来到XX图像处理网!</p>
    {% else %}
    <p>Happy to see you again!</p>
    {% endif %}
</div>
{{ wtf.quick_form(form) }}
{% endblock %}



